In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('train.csv')
print(f"{np.round(df.isna().mean(), 4)*100} %")
df['family'] = df['SibSp'] + df['Parch']
df = df.drop(columns=['Name', 'Cabin', 'Ticket', 'SibSp', 'Parch'])

df.head(3)

PassengerId     0.00
Survived        0.00
Pclass          0.00
Name            0.00
Sex             0.00
Age            19.87
SibSp           0.00
Parch           0.00
Ticket          0.00
Fare            0.00
Cabin          77.10
Embarked        0.22
dtype: float64 %

   PassengerId  Survived  Pclass     Sex   Age     Fare Embarked  family
0            1         0       3    male  22.0   7.2500        S       1
1            2         1       1  female  38.0  71.2833        C       1
2            3         1       3  female  26.0   7.9250        S       0

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'Fare', 'Embarked',
       'family'],
      dtype='object')

In [4]:
x = df.drop(columns='Survived')
y = df[['Survived']]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

ki = KNNImputer(n_neighbors=3, weights='distance')


num_cols = ['PassengerId', 'Pclass', 'Age', 'Fare', 'Embarked', 'family']
cat_cols = ['Sex', 'Embarked']