In [22]:
import pandas as pd
import numpy as np
import datetime         # to work on time, you need to import 'datetime'

In [23]:
time = pd.read_csv('messages.csv')
date = pd.read_csv('orders.csv')

date = date.drop(columns=['product_id', 'city_id', 'orders'])
time = time.drop(columns=['msg'])
time.head()

                  date
0  2013-12-15 00:50:00
1  2014-04-29 23:40:00
2  2012-12-30 00:21:00
3  2014-11-28 00:31:00
4  2013-10-26 23:11:00

### **Working with time**

In [24]:
today = datetime.datetime.today()
today       # will print todays date and time

datetime.datetime(2025, 11, 27, 0, 39, 24, 231088)

In [27]:
date['date'] = pd.to_datetime(date['date'])
today - date['date']

0     2179 days 00:39:24.231088
1     2661 days 00:39:24.231088
2     2592 days 00:39:24.231088
3     2294 days 00:39:24.231088
4     2517 days 00:39:24.231088
                 ...
995   2607 days 00:39:24.231088
996   2548 days 00:39:24.231088
997   2396 days 00:39:24.231088
998   2461 days 00:39:24.231088
999   2235 days 00:39:24.231088
Name: date, Length: 1000, dtype: timedelta64[ns]