# Handling time

In [ ]:
import pandas as pd
import numpy as np

In [9]:
time = pd.read_csv('messages.csv')
date = pd.read_csv('orders.csv')

date = date.drop(columns=['product_id', 'city_id', 'orders'])
time = time.drop(columns=['msg'])
time.head()

                  date
0  2013-12-15 00:50:00
1  2014-04-29 23:40:00
2  2012-12-30 00:21:00
3  2014-11-28 00:31:00
4  2013-10-26 23:11:00

### **Working with time**

In [19]:
time['date'] = pd.to_datetime(time['date'])
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 7.9 KB

In [21]:
# extracting hour, minute, and seconds
time['hour'] = time['date'].dt.hour
time['minute'] = time['date'].dt.minute
time['second'] = time['date'].dt.second

time.head(3)

                 date  hour  minute  second
0 2013-12-15 00:50:00     0      50       0
1 2014-04-29 23:40:00    23      40       0
2 2012-12-30 00:21:00     0      21       0

In [22]:
# as both date and time are mentioned together, hence extracting time separately
time['time'] = time['date'].dt.time
time.head(3)

                 date  hour  minute  second      time
0 2013-12-15 00:50:00     0      50       0  00:50:00
1 2014-04-29 23:40:00    23      40       0  23:40:00
2 2012-12-30 00:21:00     0      21       0  00:21:00

In [23]:
# extracting time difference
import datetime         
today = datetime.datetime.today()
today - time['date']

0     4365 days 08:45:24.888419
1     4229 days 09:55:24.888419
2     4715 days 09:14:24.888419
3     4017 days 09:04:24.888419
4     4414 days 10:24:24.888419
                 ...
995   5004 days 08:45:24.888419
996   4325 days 10:21:24.888419
997   4790 days 09:58:24.888419
998   4906 days 10:01:24.888419
999   4178 days 10:10:24.888419
Name: date, Length: 1000, dtype: timedelta64[ns]

In [ ]:
# extracting in seconds
(today - time['date']) / np.timedelta64(1, 's')

0      3.771675e+08
1      3.654213e+08
2      4.074093e+08
3      3.471015e+08
4      3.814071e+08
           ...
995    4.323771e+08
996    3.737173e+08
997    4.138919e+08
998    4.239145e+08
999    3.610158e+08
Name: date, Length: 1000, dtype: float64

In [ ]:
# extracting minutes
(today - time['date']) / np.timedelta64(1, 'm')

0      6.286125e+06
1      6.090355e+06
2      6.790154e+06
3      5.785024e+06
4      6.356784e+06
           ...
995    7.206285e+06
996    6.228621e+06
997    6.898198e+06
998    7.065241e+06
999    6.016930e+06
Name: date, Length: 1000, dtype: float64

In [26]:
# extracting hours
(today - time['date']) / np.timedelta64(1, 'h')

0      104768.756913
1      101505.923580
2      113169.240247
3       96417.073580
4      105946.406913
           ...
995    120104.756913
996    103810.356913
997    114969.973580
998    117754.023580
999    100282.173580
Name: date, Length: 1000, dtype: float64