# **Simple Imputer**

`SimpleImputer` is a class from `sklearn.impute` used for handling missing values in datasets by replacing them with a specified fill value. It is a univariate imputation method, meaning it imputes values in the i-th feature dimension using only non-missing values in that same feature dimension.
## **Key Strategies**
The `strategy` parameter determines how the missing values are filled:
1.  **`mean`**: Replaces missing values using the mean along each column. Can only be used with numeric data.
2.  **`median`**: Replaces missing values using the median along each column. Can only be used with numeric data.
3.  **`most_frequent`**: Replaces missing using the most frequent value (mode) along each column. Can be used with strings or numeric data.
4.  **`constant`**: Replaces missing values with fill_value. Can be used with strings or numeric data.
## **When to use?**
-   **Mean/Median**: When data is numerical and missing at random. Median is robust to outliers.
-   **Most Frequent**: When data is categorical or numerical with a clear mode.
-   **Constant**: When you want to flag missing values with a specific placeholder (e.g., -1 or "Missing").
## **Basic Usage**
```python
from sklearn.impute import SimpleImputer
import numpy as np
# Example data with missing values
X = [[1, 2], [np.nan, 3], [7, 6]]
# Create an imputer object with a strategy
imputer = SimpleImputer(strategy='mean')
# Fit and transform the data
X_imputed = imputer.fit_transform(X)
```

## **When to use ???**
2 ways to do so
1. Univariate Imputation
    - filling the values by using the mean, median, or most frequent value
2. Multivariate Imputation
    - filling the values by using the mean, median, or most frequent value
    - it also has two methods
        1. KNN imputer
        2. Iterative imputer

In [36]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer


# if your data is normally skewed use 'mean'
# if your data is even a little bit of skewed use 'median', if you use mean here then your mean will shift

# imputer is easy to use but, it changes the distribution of the data as you replace the missing values with mean or median
# affects the correlation btwn the features
# use it when data is missing at random, and less (below 5%)

In [37]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [38]:
df['family'] = df['SibSp']+df['Parch']
df = df.drop(columns=['SibSp','Parch'])
df = df[['Age', 'Fare', 'family', 'Survived']]
df.head()

    Age     Fare  family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [ ]:
print(df.isna().sum(), '\n')
print(df.isna().mean()*100)     # 19 % data missing in Age

Age         177
Fare          0
family        0
Survived      0
dtype: int64

Age         19.86532
Fare         0.00000
family       0.00000
Survived     0.00000
dtype: float64

In [ ]:
x = df.drop(columns=['Survived'])
y = df['Survived']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)