# Imputation by chained equation of missing value

In [3]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression



import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = np.round(pd.read_csv('50_Startups.csv')[['R&D Spend','Administration','Marketing Spend','Profit']]/10000)
np.random.seed(9)
df = df.sample(5)

R&D Spend          0
Administration     0
Marketing Spend    0
Profit             0
dtype: int64

In [5]:
df = df.iloc[:, [0,1,2]]

# assigning NaN values to different cells
df.iloc[1,0] = np.nan
df.iloc[3,1] = np.nan
df.iloc[-1,-1] = np.nan

# assigning mean values to all the NaN cells
df_imputed = df.copy()
for col in df_imputed.columns:
    df_imputed[col] = df_imputed[col].fillna(df_imputed[col].mean())



df_imputed

    R&D Spend  Administration  Marketing Spend
21       8.00           15.00            30.00
37       9.25            5.00            20.00
2       15.00           10.00            41.00
14      12.00           11.25            26.00
44       2.00           15.00            29.25

In [ ]:
# making a dictionary of missing numbers 
cols_with_missing = {
    0 : (1,0),
    1 : (3,1),
    2 : (-1,-1)
}


# using for loop
iterations = 5 
for i in range(iterations):
    print(f"ITERATION : {i+1}")

    for col_idx, (row_idx, _) in cols_with_missing.items():
        temp_df = df_imputed.copy()
        
        # assigning NaN values
        temp_df.iloc[row_idx, col_idx] = np.nan
        
        x_train = temp_df.dropna().drop(temp_df.columns[col_idx], axis=1)
        y_train = temp_df.dropna().iloc[:,col_idx]

        x_test = temp_df.iloc[[row_idx]].drop(temp_df.columns[col_idx], axis=1)

        lr = LinearRegression()
        lr.fit(x_train, y_train)
        y_test_pred = lr.predict(x_test)[0]

        df_imputed.iloc[row_idx, col_idx] = y_test_pred
        
        print(f"Updated {df.columns[col_idx]} at row {df.index[row_idx]}: {y_test_pred:.2f}")
    print("\nResult after Iteration:\n", df_imputed)

ITERATION : 1
Updated R&D Spend at row 37: 23.14
Updated Administration at row 14: 11.06
Updated Marketing Spend at row 44: 31.60

Result after Iteration:
     R&D Spend  Administration  Marketing Spend
21   8.000000       15.000000        30.000000
37  23.141587        5.000000        20.000000
2   15.000000       10.000000        41.000000
14  12.000000       11.063618        26.000000
44   2.000000       15.000000        31.601847
ITERATION : 2
Updated R&D Spend at row 37: 23.83
Updated Administration at row 14: 11.23
Updated Marketing Spend at row 44: 39.39

Result after Iteration:
     R&D Spend  Administration  Marketing Spend
21   8.000000       15.000000        30.000000
37  23.828703        5.000000        20.000000
2   15.000000       10.000000        41.000000
14  12.000000       11.230737        26.000000
44   2.000000       15.000000        39.390436
ITERATION : 3
Updated R&D Spend at row 37: 26.89
Updated Administration at row 14: 12.28
Updated Marketing Spend at row 44: 63.34

Result after Iteration:
     R&D Spend  Administration  Marketing Spend
21   8.000000       15.000000        30.000000
37  26.887784        5.000000        20.000000
2   15.000000       10.000000        41.000000
14  12.000000       12.275798        26.000000
44   2.000000       15.000000        63.339357
ITERATION : 4
Updated R&D Spend at row 37: 26.65
Updated Administration at row 14: 13.06
Updated Marketing Spend at row 44: 70.95

Result after Iteration:
     R&D Spend  Administration  Marketing Spend
21     8.0000       15.000000        30.000000
37    26.6489        5.000000        20.000000
2     15.0000       10.000000        41.000000
14    12.0000       13.064888        26.000000
44     2.0000       15.000000        70.952205
ITERATION : 5
Updated R&D Spend at row 37: 26.72
Updated Administration at row 14: 13.02
Updated Marketing Spend at row 44: 70.68

Result after Iteration:
     R&D Spend  Administration  Marketing Spend
21   8.000000       15.000000        30.000000
37  26.721335        5.000000        20.000000
2   15.000000       10.000000        41.000000
14  12.000000       13.020439        26.000000
44   2.000000       15.000000        70.679851