# **Pickle Module**

The pickle module implements binary protocols for serializing and de-serializing a py object structure. Pickling is the process whereby a py **object hierarchy is converted into a byte stream and unpickling is the inverse** operation, whereby a byte stream (from a binary file or bytes-like object) is converted back into an object hierarchy. Pickling (and unpickling) is alternatively known as serialization, marshalling, 1 or flattening. However, to avoid confusion, the terms used here are pickling and unpickling.

Pickle in py is primarily used in serializing and deserializing a py object sturcture. In other words, its the process of converting a py object into a byte stream to store it in a file or database, to maintain program state across sessions, or to transport data over the network.

In [11]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score

import pickle

import warnings
warnings.filterwarnings('ignore')

In [12]:
df = pd.read_csv('D:/THE CODE/python/0 ML lecture/train.csv')
df = df.drop(columns=['Name', 'Ticket', 'Cabin'])
df = df.dropna()
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
885,886,0,3,female,39.0,0,5,29.1250,Q
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [13]:
for col in df.columns:
    print(col ,':', df[col].dtype )

PassengerId : int64
Survived : int64
Pclass : int64
Sex : object
Age : float64
SibSp : int64
Parch : int64
Fare : float64
Embarked : object

In [16]:
# Use r'...' for raw string to handle Windows backslashes correctly
path = r'D:\THE CODE\python\0 ML lecture\models\modelTrain.pkl'
a = pickle.load(open(path, 'rb'))

# Assuming 'df' is already defined in your notebook
X = df.drop(columns='Survived', axis=1)

y = df[['Survived']]
trf = ColumnTransformer([
    ('t1', OneHotEncoder(drop='first', sparse_output=True), ['Sex', 'Embarked'])
], remainder='passthrough')

X = trf.fit_transform(X)
lr = LogisticRegression()

# Run the loaded function
a(lr, X, y, 0.2, 42)

AttributeError: Can't get attribute 'modelTrain' on <module '__main__'>

## **KEEP IN MIND YOU CAN ONLY USE PICKLE FOR OBJECTS, NOT FOR FUNCTIONS. IT WILL THROW ERRORS.**