# **Pickle Module**

The pickle module implements binary protocols for serializing and de-serializing a py object structure. Pickling is the process whereby a py **object hierarchy is converted into a byte stream and unpickling is the inverse** operation, whereby a byte stream (from a binary file or bytes-like object) is converted back into an object hierarchy. Pickling (and unpickling) is alternatively known as serialization, marshalling, 1 or flattening. However, to avoid confusion, the terms used here are pickling and unpickling.

Pickle in py is primarily used in serializing and deserializing a py object sturcture. In other words, its the process of converting a py object into a byte stream to store it in a file or database, to maintain program state across sessions, or to transport data over the network.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import pickle

In [20]:
df = sns.load_dataset('tips')
print(df.nunique())
print("\nSHAPE -- ", df.shape)
df.sample(6)

total_bill    229
tip           123
sex             2
smoker          2
day             4
time            2
size            6
dtype: int64

SHAPE --  (244, 7)

     total_bill   tip     sex smoker   day    time  size
211       25.89  5.16    Male    Yes   Sat  Dinner     4
83        32.68  5.00    Male    Yes  Thur   Lunch     2
172        7.25  5.15    Male    Yes   Sun  Dinner     2
72        26.86  3.14  Female    Yes   Sat  Dinner     2
142       41.19  5.00    Male     No  Thur   Lunch     5
227       20.45  3.00    Male     No   Sat  Dinner     4

In [ ]:
filename = '18_1 file.pkl'       # making a obbject for the filename

# serializing the process
pickle.dump(df, open(filename, 'wb'))       # if the file is not available, then it will create a new file

In [23]:
# unserializing the process
pickle.load(open(filename, 'rb'))

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]