## Using Pipelines

In [4]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline, make_pipeline            # used to make pipeline
from sklearn.feature_selection import SelectKBest, chi2

In [5]:
df = pd.read_csv('train.csv')
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [ ]:
# dropping unrequired columns
df = df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])

# checking which column has the missing values
print(f"MISSING VALUES : \n{df.isna().sum()}\n") # Age and Embarked has the missing values

x_train, x_test, y_train, y_test = train_test_split(df.drop(columns='Survived'), df['Survived'], test_size=0.2, random_state=0)

# using transformer
# imputation transformer
trf1 = ColumnTransformer([('impute_age', SimpleImputer(), [2]), ('impute_embarked', SimpleImputer(strategy='most_frequent'), [6])], 
                         remainder='passthrough')

# one hot encoding transformer
trf2 = ColumnTransformer([('ohe_sex_embarked', OneHotEncoder(sparse_output=False, handle_unknown='ignore'), [1,6])], 
                         remainder='passthrough')       # if you dont put 'passthrough' rest of the columns would have been dropped (deleted)

# scaling transformer
trf3 = ColumnTransformer([('scale', MinMaxScaler(), slice(0,10))])      # from 0 to 9, 10 being explict

# feature selection
trf4 = SelectKBest(score_function=chi2, k=8)        # using only top 8 columns for feature selection to make prediction

# training the model
trf5 = DecisionTreeClassifier()

MISSING VALUES :
Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64